.fs_col2{
    height: 480px;
    width: 590px;
    background: grey;
    margin-left: 10px;
    position: relative;
    margin: 0 10px;
    float: left;
    z-index: 3;
}

.banner_cir{
    bottom: 20px;
    left: 20px;
    position: absolute;
}
.banner_cir li{
    width: 10px;
    height: 6px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    float: left;
    margin-left: 2px;
}
.fs_col2>ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.prev{
    width: 25px;
    height: 35px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 0px 18px 18px 0px;
    left: 0;
    top: 50%;
    position: absolute;
    cursor:pointer;
}
.next{
    width: 25px;
    height: 35px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 18px 0px 0px 18px;
    right:0;
    top: 50%;
    position: absolute;
    cursor:pointer;
}
.active{
    background: white;
}
.prev .left{
    display: block;
    background: url(../images/angle-left.png) no-repeat center 0px;;
    width: 12px;
    height: 12px;
    background-position: center 0px;
    background-size: cover;
    text-indent: -999px;
    margin-top: 40%;
    margin-left: 20%;
}
.next .right{
    display: block;
    background: url(../images/angle-right.png) no-repeat center 0px;
    width: 12px;
    height: 12px;
    background-position: center 0px;
    background-size: cover;
    text-indent: -999px;
    margin-top: 40%;
    margin-left: 30%;
}

.fs_col2 a:hover {
    background-color: rgba(0, 0, 0, 0.5) !important;
}