.miaosha{
    height: 260px;
    background: #fff;
    display: flex;
}
.miaoshatime{
    background: url(../images/秒杀背景.png) no-repeat center 0px;
    width: 190px;
    height: 260px;
    /* float: left; */
}
.jdmsv{
    padding: 31px 0px 0px;
    text-align: center;
    color: #fff;
}
.countdown-text{
    font-size: 14px;
    color: #fff;
    margin-top: 90px;
    text-align: center;
}
.countdown-second{
    font-size: 20px;
    text-align: center;
    color: #fff;
    margin-top: 10px;
}
.countdown-second span{
    background-color: #666;
}

.miaoshawpk{
    width: 820px;
    height: 260px;
    /* float: left; */
    position: relative;
    overflow: hidden;
}
.miaoshawp{
    margin-top: 25px;
    width: 2460px;
    height: 235px;
    position: relative;
    /* 初始位置设置为0，这样我们可以使用transform来移动它 */  
    transform: translateX(0);
    overflow: hidden;
}
.miaoshawp div:hover{
    color: #e1251b;
}
.kill-slide {
    width: 200px;
    height: 233.5px;
    padding-right: 5px;
    float: left;
    overflow: visible;
    cursor:pointer;
}

.kill-slide .imgbox{
    text-align: center;
    height: 160px;
    width: 200px;
}
.kill-slide img{
    width: 140px;
    height: 140px;
}
.kill-slide h6{
    margin: 13px 20px 0px;
    text-overflow: ellipsis;
    width: 160px;
    height: 15.5px;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 400;
}
.kill-slide .price{
    width: 160px;
    height: 22px;
    margin: 13px 20px 0px;
    text-align: center;
}
.kill-slide .price span{
    font-size: 12px;
    color: #e1251b;
    font-weight: 700;
}
.moveprev{
    width: 25px;
    height: 35px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 0px 18px 18px 0px;
    left: 0;
    top: 42%;
    position: absolute;
    cursor:pointer;
}
.movenext{
    width: 25px;
    height: 35px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 18px 0px 0px 18px;
    right:0;
    top: 42%;
    position: absolute;
    cursor:pointer;
}

.moveprev .left{
    display: block;
    background: url(../images/angle-left.png) no-repeat center 0px;
    width: 12px;
    height: 12px;
    background-position: center 0px;
    background-size: cover;
    text-indent: -999px;
    margin-top: 40%;
    margin-left: 20%;
}
.movenext .right{
    display: block;
    background: url(../images/angle-right.png) no-repeat center 0px;
    width: 12px;
    height: 12px;
    background-position: center 0px;
    background-size: cover;
    text-indent: -999px;
    margin-top: 40%;
    margin-left: 30%;
}

.miaoshawpk a:hover {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.kill-right{
    width: 190px;
    height: 240px;
    padding: 10px;
    text-align: center;
}
.kill-right img{
    width: 120px;
    height: 120px;
    margin: auto;
    margin-top: 20px;
}
.right-info{
    margin-top: 10px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5), rgba(220, 224, 236, 0.5));
    width: 190px;
    height: 90px;
}
.right-info .plms{
    border-radius: 14px;
    width: 82px;
    height: 24px;
    text-align: center;
    display: inline-block;
    line-height: 22px;
    font-weight: 700;
    padding-left: 4px;
    font-size: 12px;
    border: 1px solid #e1251b;
    margin-top: 4px;
    cursor:pointer;
}
.right-info div:hover{
    color: #fff;
    background-color: #e1251b;
}