.wntjh3{
    width: 150px;
    height: 45px;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    line-height: 45px;
    padding: 0 30px;
    overflow: hidden;
    color: #333;
    margin: 0 auto 20px;
}
.floorwntj h3::before{
    content: "";
    position: absolute;
    top: 64%;
    margin-top: -10px;
    margin-left: -45px;
    width: 25px;
    height: 20px;
    background-image: url(../images/sprite@2x.png);
    background-size: 50px 20px;
}
.floorwntj h3::after{
    content: "";
    position: absolute;
    top: 64%;
    margin-top: -10px;
    margin-left: 22px;
    width: 25px;
    height: 20px;
    background-image: url(../images/sprite@2x.png);
    background-size: 50px 20px;
    background-position: -25px 0;
}
.recommend-list-tab{
    width: 1190px;
    height: 60px;
    background-color: #fff;
}
.recommend-list-tab ul{
    width: 1190px;
    height: 60px;
    margin: 0px auto 10px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    
}
.recommend-list-tab li{
    width: 200px;
    height: 60px;
    list-style-type: none;
    cursor:pointer;
    padding: 0;
    border-right: rgba(153,153,153,0.25) solid 1px;
}
.focus span {
    background: #e1251b;
    color: #fff;
    width: 70px;
    height: 22px;
    display: inline-block;
    border-radius: 50px;
    padding: 0 5px;
}
.tab-name{
    font-weight: 700;
    color: #000;
    margin-top: 7px;
}
.tab-content{
    font-size: 14px;
}

.recommend-list-tab li:hover .tab-name span,  
.recommend-list-tab li:hover .tab-content {  
    color: #e1251b !important;
}