			* {
				margin: 0;
				padding: 0;
			}

			html {
				overflow-y: scroll;
				overflow-x: hidden;
				min-width: 1275px;
			}

			/* <!-- 头部开始 --> */
			.header1 {
				background: #31649d;
				color: white;
				line-height: 60px;
				height: 60px;
				display: flex;
				justify-content: space-around;
			}

			.header1>div {
				position: relative;
			}

			/* <!-- 头部结束 || 菜单栏开始 --> */
			.header2 {
				display: flex;
				justify-content: space-around;
				align-items: center;
				/* height: 400px; */
			}

			.logo {
				position: relative;
				display: flex;
				justify-content: space-between;
				align-items: center;
				min-width: 257px;
				animation: move .5s linear infinite;
			}

			@keyframes move {
				0% {
					left: 0,
				}

				100% {
					left: 20px;
				}
			}

			.logo span {
				font-weight: normal;
				color: #c7c7c7;
				font-size: 15px;
				top: -10px;
				position: relative;
			}

			.logoimg {
				position: relative;
				left: 10%;
				width: 5%;
				margin-right: 20px;
			}

			.caidan {
				display: flex;
				width: 666px;
				height: 32px;
			}

			.caidan ul {
				display: flex;
				list-style: none;
				text-align: center;
				position: relative;

			}

			.caidan li {
				margin-right: 20px;
				cursor: pointer;
				line-height: 30px;
				width: 100px;
				font-size: 20px;
				border: white 1px solid;
				border-radius: 30px;
			}

			.caidan li:hover,
			.active {
				border: #31649d 1px solid;
				background: linear-gradient(90deg, #3b7ebc, #55adfe, #3b7ebc);
			}

			/* <!-- 菜单栏结束 || 搜索框开始 --> */
			.search-main {
				display: flex;
				position: relative;
				width: 100%;
				height: 800px;
				background: url(./images/banner.jpg) no-repeat center center;
				background-size: cover;
				min-width: 903px;
				justify-content: center;
				overflow: hidden;
			}

			.search-title {
				width: 60%;
				position: relative;
				top: 30%;
				text-align: center;
				height: 50%;
				line-height: 100px;
				background: rgb(255, 255, 255, 0.2);
				font-size: 25px;
				color: #fff;
			}

			.search-title h2 {
				height: 20%;
			}

			.search-title h6 {
				font-size: 20px;
				font-style: italic;
				font-weight: 100;
				height: 15%;
			}

			.search-title>span>input {
				position: relative;
				border: 0;
				height: 16px;
				width: 85%;
				height: 50px;
				padding-left: 10px;
				margin-left: 10px;
			}

			.search-title>span>input:focus {
				outline: 0;
			}

			.search-title>span>i {
				background: #dbdbdb;
				position: relative;
				display: inline-block;
				height: 50px;
				width: 50px;
				top: 27px;
				left: -8px;
				cursor: pointer;
			}

			.search-title>span>i::before {
				position: relative;
				top: -50%;
				left: 0%;
			}

			.saying {
				position: relative;
				left: 5%;
				width: 90%;
				line-height: 40px;
				font-size: 15px;
			}


			.img {
				background: url(./images/banner_bottom_repeat.png);
				position: absolute;
				bottom: 0;
				left: -3%;
				width: 150%;
				height: 102px;
				animation: moveUp 2s linear infinite;
			}

			@keyframes moveUp {
				0% {
					left: 0%,
				}

				50% {
					left: -13%;
				}

				100% {
					left: -23%;
				}
			}

			/* <!-- 搜索框结束 || 精选路线开始 --> */
			.road {
				width: 100%;
				height: 600px;
				text-align: center;
			}

			.roadtext {
				font-size: 25px;
				color: #999999;
			}

			.roadtext>span {
				color: #000;
			}

			.roadtext>span::before,
			.roadtext>span::after {
				content: "\e60d";
				display: inline;
				width: 100px;
				height: 2px;
				font-family: iconfont, icon-lingxing;
			}

			.roadtext>h6 {
				color: #737373;
				font-size: 15px;
				font-weight: normal;
				margin-top: 10px;
			}

			.roadimg {
				margin: 20px auto;
				display: flex;
				width: 80%;
				justify-content: space-between;
				overflow: hidden;
			}

			:root {
				--width: 230px;
				--height: 406px;
			}

			.item {
				cursor: pointer;
				position: relative;
				width: var(--width);
				height: var(--height);
				transform-origin: 0 100%;

			}

			.item:nth-child(1) {
				background: url(./images/route01.jpg);
			}

			.item:nth-child(2) {
				background: url(./images/route02.jpg);
			}

			.item:nth-child(3) {
				background: url(./images/route03.jpg);

			}

			.around {
				transform-origin: center center;
				animation: around 2s;
			}

			@keyframes around {
				0% {
					transform: rotateY(0deg);
				}

				100% {
					transform: rotateY(360deg);
				}
			}

			.item:nth-child(4) {
				background: url(./images/route04.jpg);
			}

			.item:nth-child(5) {
				background: url(./images/route05.jpg);
			}

			.content {
				position: relative;
				top: 0;
				left: 0;
				align-items: center;
				display: flex;
				padding-top: calc(var(--height)/4);
				width: var(--width);
				height: var(--height);
				color: #fff;
				text-align: center;
				font-size: 30px;
				z-index: 3;
				font-size: 20px;
				flex-wrap: wrap;
				flex-direction: column;
			}

			.hoverContent {
				position: absolute;
				top: 0;
				left: 0;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				display: flex;
				padding-top: calc(var(--height)/10);
				width: var(--width);
				height: var(--height);
				background: rgba(0, 0, 0, 0.3);
				color: #fff;
				transform: scale(0);
				transition: transform 0.5s;
				z-index: 2;
			}

			.item:hover>.hoverContent {
				transform: scale(1);
			}

			.content span {
				font-size: 12px;
			}

			.hoverContent>img {
				filter: invert(100%);
				width: 20%;
			}

			.roadadd {
				margin: 0 auto;
				background: #dcdcdb;
				width: 80%;
				font-size: 30px;
				color: #767777;
				cursor: pointer;
			}

			/* <!-- 精选路线结束 || 服务开始 --> */
			.fuwu {
				background: url(./images/bg.jpg) no-repeat;
				position: relative;
				width: 100%;
				height: 500px;
				display: grid;
				grid-template-columns: auto auto;
				/* 设置为包含二列，每列的宽度都是50像素 */
				grid-template-rows: auto auto;
			}

			.fuwuItem {
				position: relative;
				left: 30%;
				align-items: center;
				display: flex;
				width: 60%;
			}

			.fuwuImg {
				width: 100px;
				height: 100px;

				position: relative;
			}

			.fuwuItem .img1 {
				background: url(./images/gh.png) no-repeat;
				background-size: 100%;
			}

			.fuwuItem .img2 {
				background: url(./images/fw.png) no-repeat;
				background-size: 100%;
			}

			.fuwuItem .img3 {
				background: url(./images/xz.png) no-repeat;
				background-size: 100%;
			}

			.fuwuItem .img4 {
				background: url(./images/gj.png) no-repeat;
				background-size: 100%;
			}

			.fuwuText {
				width: 50%;
				color: #fff;
			}

			/* <!-- 服务结束 || 热门景点开始 --> */
			.Hot {
				margin-top: 40px;
			}

			.HotMain {
				content: '';
				display: block;
				clear: both;
				font-size: 0;
				height: 0;
				line-height: 0;
			}

			.hot_ul {
				display: grid;
				grid-template-columns: auto auto auto auto;
				flex-wrap: wrap;
				margin-top: 40px;
				justify-content: center;
			}

			.hot_item {
				margin-right: 33px;
				margin-bottom: 30px;
				min-height: 270px;
				border: #dbdbdb 1px solid;
			}

			.hot_courpic {
				position: relative;
			}

			.hot_courpic a {
				position: relative;
				display: block;
				animation: instantAnminate 0.6s 1;
				animation-fill-mode: forwards;
				color: #333;
				text-decoration: none;
				overflow: hidden;
			}

			.hot_courpic img {
				margin: 10px;
				width: 260px;
				height: 180px;
				overflow: clip;
				cursor: pointer;
			}

			.myke_pic_top2 {
				position: absolute;
				top: 0px;
			}

			.itemover {
				position: absolute;
				width: 260px;
				height: 150px;
				background-color: rgba(0, 0, 0, 0.4);
				color: #dbdbdb;
				line-height: 20px;
				font-weight: 500;
				font-size: 18px;
				/* top: 9px; */
				top: 200px;
				left: 10px;
				text-align: start;
				padding: 30px 0 0 0;
				transition: 1s;
			}

			.hot_courpic a:hover .itemover {
				top: 9px;
			}

			.hot_courtxt {
				padding-top: 6px;
				padding-left: 10px;
				padding-right: 5px;
				text-align: start;
			}

			.hot_courtxt .hot_courtit {
				font-size: 16px;
				color: #363a46;
				line-height: 30px;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				font-weight: normal;
			}

			.hot_courtxt .hot_courp {
				font-size: 14px;
				color: #949aab;
				line-height: 22px;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}

			/* <!-- 热门景点结束 || 新闻动态开始 --> */
			.news {
				margin-top: 200px;
				display: block;
				position: relative;
				background: url(./images/news_left01.jpg) no-repeat;
				text-align: center;
				height: 800px;
			}

			.newsTitle,
			.newsTitle span,
			.newsTitle h6 {
				color: white;
			}

			.newsMain {
				background: rgb(255, 255, 255, 0.5);
				width: 80%;
				display: flex;
				margin: 30px auto;
				height: 60%;
				min-width: 1164px;
			}

			.newsIn {
				display: flex;
				margin: 20px;
				justify-content: center;
				background: #fff;
			}

			.showNewsImg {
				transition: opacity 1s ease-in-out;
				opacity: 1;
				position: relative;
			}

			.showNewsImg.fade-out {
				opacity: 0;
			}

			.newsImg {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				width: 540px;
				justify-content: space-between;
				margin: 20px;
			}

			.newsImg img {
				margin-top: 10px;
				width: 160px;
				margin-bottom: auto;
				cursor: pointer;
			}

			.newsImg img:nth-child(1) {
				width: 520px;
				margin-bottom: 0;
			}

			.newsText {
				margin-top: 15px;
				height: 100px;
				text-align: start;
				margin-left: 25px;
				margin-right: 25px;
				font-size: 13.7px;
			}

			.newsItem h6 {
				font-size: 12px;
				color: #6a6a6a;
			}

			.newsItem {
				margin-top: 5px;
				margin-bottom: 5px;
				padding-bottom: 5px;
				border-bottom: #999 dashed 1px;
				color: #999;
			}

			/* <!-- 新闻动态结束 || 旅行预约开始 --> */
			.travel {
				width: 80%;
				margin: 50px auto;
				margin-bottom: 0;
				text-align: center;
			}

			.travel_head {
				/* width: 80%; */
				height: 44px;
				border-bottom: solid #ebebeb 1px;
				margin-bottom: 20px;
			}

			.travel_tab {
				float: left;
				height: 44px;
				display: table;
				list-style-type: none;
			}

			.travel_tab li {
				padding: 0 10px;
				height: 44px;
				line-height: 44px;
				font-size: 22px;
				color: #424648;
				display: inline-block;
				text-align: center;
				cursor: pointer;
				border-bottom: 3px #000 solid;
			}

			.bookingMain {
				display: flex;
			}

			.left {
				width: 50%;
			}

			:root {
				--r: 70px;
			}

			.circle {
				width: var(--r);
				height: var(--r);
				border-radius: 50%;
				border: 2px solid #c1c1c1;
				text-align: center;
				line-height: var(--r);
				font-size: 30px;
				color: #5a5a5a;
			}

			.leftItem {
				position: relative;
				display: flex;
				align-items: start;
				text-align: start;
				width: 430px;
				height: 120px;
			}

			.leftItem h4 {
				color: #565656;
			}

			.leftItem .text {
				margin-left: 20px;
				line-height: 35px;
				color: #dbdbdb;
			}

			.xuxian {
				position: absolute;
				width: var(--r);
				height: calc(var(--r)/1.5);
				top: calc(var(--r)/1 + 2px);
				left: calc(var(--r)/2);
				border-left: 2px dashed #c1c1c1;
			}

			.right {
				width: 50%;
			}

			.right form {
				text-align: start;
			}

			.right form span {
				color: red;
			}

			.right label {
				display: inline-block;
				width: 80px;
			}

			.right input,
			button {
				width: 400px;
				height: 40px;
				margin: 20px 0;
				background: #e4e4e4;
				border: 1px solid #cbcbcb;
			}

			.right button {
				background: #4370a4;
				color: #fff;
			}

			#message {
				height: 80px;
			}

			.bookImg {
				position: relative;
				width: 435px;
				height: 300px;
				background: url(./images/lx.png) no-repeat;
				bottom: 0;
				margin: 0 auto;
			}

			.footer {
				position: relative;
				background: #495052;
				height: 50px;
				font-size: 20px;
				line-height: 50px;
				text-align: center;
				color: #999;
			}